@page "/"
@page "/Search"
@page "/Search/{SearchTerm}" 

@using Dictionary.Core.Services
@using Dictionary.Core.Models

@inject IJSRuntime _jsRunTime
@inject IDictionarySearchService _dictionarySearchService

<h3 id="main_header">Japanese Web Dictionary!</h3><br />
<div id="main_search">
    <div class="inside_Search">
        <input type="text" id="txt_input" placeholder="Love, happiness.." @bind-value="@_searchTerm" @onkeydown="@KeyPressAsync" autocomplete="off" spellcheck="false" maxlength="100"/>
        <input type="button" id="txt_button" @onclick="@SearchDictionaryManuallyAsync" />
    </div>
</div>
<br />
@if (dictionaryEntries == null)
{
    <div class="skinny_information_text">
        <br />
        <p>A tidy Japanese-English dictionary, using the Jisho.api to find Japanese words, readings, expressions, and so much more.</p>
        <p>Enter any Japanese or English words, phrases, or text (like ‘love’ or ‘summer’) and the results will be presented.</p>
        <p id="smaller_paragraph">This ASP.NET Blazor application is created by me, <br /><a id="themedurl" href="https://github.com/RaymondNymark"><u>Raymond Nymark</u></a> 😊</p>

    </div>
}
else
{
    <div id="result_count">
        <h5>
            Results
            <span class="result_count"> ー @_entryCount found</span>
        </h5>
    </div>
    <br />
    @foreach (var entry in dictionaryEntries)
    {
        <div class="single_dictionary_entry">
            <div class="japanese_info">
                <div class="japanese_word_entry">
                    @if (string.IsNullOrEmpty(entry.JapaneseData.First().Word))
                    {
                        // If there is no kanji in the word, only display the kana as the word.
                        <span class="japanese_hiragana">&nbsp;</span>
                        <span class="japanese_fullword">@entry.JapaneseData.First().Reading</span>
                    }
                    else
                    {
                        <span class="japanese_hiragana">@entry.JapaneseData.First().Reading</span>
                        <span class="japanese_fullword">@entry.JapaneseData.First().Word</span>
                    }
                </div>
                <div class="japanese_tags">
                    @if (entry.IsCommon)
                    {
                    <span id="is_common_tag">&nbsp;&nbsp;&nbsp;common word&nbsp;&nbsp;&nbsp;</span>
                    }
                    @if (entry.JLPTLevel.Count > 0) 
                    {
                    <span id="jlpt_tag">&nbsp;&nbsp;@String.Join(", ", entry.JLPTLevel)&nbsp;&nbsp;</span>
                    }
                </div>
            </div>
            <div class="english_info">
                @foreach (var englishEntry in entry.EnglishData)
                {
                <div class="word_meaning">
                    <span class="meaning_tags">@String.Join(", ", englishEntry.PartsOfSpeech)</span>
                    <span class="meaning_definition">@($"{_localEnglishCount}. ") @String.Join("; ", englishEntry.EnglishDefinitions)</span>
                    <span class="meaning_extratags">@String.Join(", ", englishEntry.Tags)</span>
                    <br />
                    <br />
                </div>
                    _localEnglishCount++;
                }
            </div>
            <br />
            <br />
        </div>
        _localEnglishCount = 1;
    }
    <br />
}

@code {
    // Search term from the URL so links to searches can be saved. 
    [Parameter]
    public string SearchTerm { get; set; }

    private List<RetrievedDictionaryModel.Entry> dictionaryEntries;
    private string _searchTerm = string.Empty;
    private string _entryCount = string.Empty;
    private int _localEnglishCount = 1;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(SearchTerm))
        {
            // If there's a provided URL parameter it intializes searching dictionary with the URL parameter.
            _searchTerm = SearchTerm;
            await SearchDictionaryAsync();
        }
    }

    /// <summary>
    /// Searches the dictionary and updates dictionary entries using the _searchTerm property as the input.
    /// </summary>
    private async Task SearchDictionaryAsync()
    {
        // Retrieves dictionary search results and updates the entryCount to display total amount of results;
        var retrievedEntries = await _dictionarySearchService.SearchDictionaryAsync(_searchTerm);
        _entryCount = retrievedEntries.Count.ToString();

        dictionaryEntries = retrievedEntries;
    }

    // Alternate method so the automatic URL based method doesn't cause an
    // exception when the page is updated using the URL instead of search box.
    private async Task SearchDictionaryManuallyAsync()
    {
        await SearchDictionaryAsync();

        // Changes the URL to reflect search term so it can be saved.
        await ChangePageUrlToSearchTerm();
    }

    // Invokes JS script to change the page URL. It's purely visual and does
    // nothing to back end of the application.
    private async Task ChangePageUrlToSearchTerm()
    {
        var newUrl = $"Search/{_searchTerm}";
        await _jsRunTime.InvokeAsync<string>("ChangeUrl", newUrl);
    }

    // Handles keys being pressed in the search box.
    public async Task KeyPressAsync(KeyboardEventArgs e)
    {
        // Fires off a basic JS script to simulate the clicking the txt_button.
        // Although a click could be simulated directly here, JS method is a lot
        // cleaner.

        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await _jsRunTime.InvokeVoidAsync("ClickButtonByElementID", "txt_button");
        }
    }
}
